<div class="container">
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<%- include ('partials/messages') %>

<!-- Button ADD PLAYER -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Add player
</button>

  <!-- The Modal  ADD PLAYER-->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add new player to database</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          
        <form action="/users/dashboard" method="POST" enctype="multipart/form-data">

            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                id="name"
                name="name"
                class="form-control"
                placeholder="Enter Name"
              />
            </div>


            <div class="file-field input-field">
              <div class="btn grey">
                <span>File</span>
                <input name="myImage" type="file">
              </div>
            </div>
           
            <div class="form-group">
                <label for="position">Position</label><br>
                <select name="position" id="position exampleFormControlSelect1" class="form-control">
                  <option value="Attack">Napad</option>
                  <option value="Defend">Odbrana</option>
                  <option value="Middle">Vezni red</option>
                  <option value="Goalkeeper">Golman</option>
                  <option value="Staff">Stručni štab</option>
                  <option value="Coach">Trener</option>
                </select>
            </div>

            <div class="row">
              <div class="col">
              <label for="number">Jersey number</label>
              <input
                type="text"
                id="number"
                name="number"
                class="form-control"
                placeholder="Enter player's jersey number"
              />
            
          </div>


            <div class="col">
                <label for="age">Age</label>
                <input
                  type="text"
                  id="age"
                  name="age"
                  class="form-control"
                  placeholder="Enter player's age"
                />
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label for="games">Games</label>
                <input
                  type="text"
                  id="games"
                  name="games"
                  class="form-control"
                  placeholder="Enter number of games"
                />
            </div>

            <div class="col">
                <label for="goals">Goals</label>
                <input
                  type="text"
                  id="goals"
                  name="goals"
                  class="form-control"
                  placeholder="Enter number of goals"
                />
                </div>
            </div>

            <div class="row">
              <div class="col">
                <label for="redCartons">Number of red cartons</label>
                <input
                  type="text"
                  id="redCartons"
                  name="redCartons"
                  class="form-control"
                  placeholder="Enter number of red cartons"
                />
            </div>

            <div class="col">
                <label for="yellowCartons">Number of yellow cartons</label>
                <input
                  type="text"
                  id="yellowCartons"
                  name="yellowCartons"
                  class="form-control"
                  placeholder="Enter number of yellow cartons"
                />
             </div>
            </div>
             <br><br>
            <button type="submit"  class="btn btn-primary btn-block">Add</button>
          </form>

        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger"  formaction="/users/dashboard" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

<!-- ADD NEWS -->



<!-- Button ADD NEWS -->
<button type="button" class="btn bg-warning text-white" data-toggle="modal" data-target="#myModal2">
  Add news
</button>

<!-- The Modal  ADD NEWS-->
<div class="modal fade" id="myModal2">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add new article</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        
      <form action="/users/dashboard" method="POST" enctype="multipart/form-data">

          <div class="form-group">
            <label for="nameNews">Name</label>
            <input
              type="text"
              id="nameNews"
              name="nameNews"
              class="form-control"
              placeholder="Enter Name"
            />
          </div>

          
          <div class="file-field input-field">
            <div class="btn grey">
              <span>File</span>
              <input name="myImage" type="file">
            </div>
          </div>

          
          <div class="form-group">
            <label for="description">Example textarea</label>
            <textarea class="form-control" id="description" rows="3" name="description"></textarea>
          </div>

           
          <button type="submit"  class="btn btn-primary btn-block">Add</button>
        </form>

      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>

<a href="/users/logout" class="btn btn-secondary">Logout</a>
<br>

<div class="row" style="margin-top: 50px">
  <table class="col-sm-4 table" > 
    <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ime</th>
      <th scope="col">Broj</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <% for(let k = 0; k<player.length; k++) { %>
    <tr>
      <th scope="row"><%= k+1 %></th>
      <td><%= player[k].name %> </td>
      <td><%= player[k].number %> </td>
      <td><form action="/users/dashboard" method="POST">
    
        <input 
          type="text"
          id="newsUrl"
          name="plyName"
          class="my-form-control"
          style="display: none;"
          value="<%= player[k].name %>"
          placeholder="Enter Name"
        />
    
      <button type="submit" class="btn btn-danger">Delete</button>
    </form> </td>
    </tr>
    <% } %>
  </tbody>
  </table>

  <table class="col-sm-5 table" style="margin-left: 10%;" > 
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ime</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% for(let k = 0; k<news.length; k++) { %>
    <tr>
      <th scope="row"><%= k+1 %></th>
      <td><%= news[k].name %> </td>
      <td><form action="/users/dashboard" method="POST">
    
        <input 
          type="text"
          id="newsUrl"
          name="newsNm"
          class="my-form-control"
          style="display: none;"
          value="<%= news[k].name %>"
          placeholder="Enter Name"
        />
    
      <button type="submit" class="btn btn-danger">Delete</button>
    </form> </td>

    </tr>
    <% } %>
  </tbody>
  </table>
</div>
</div>