
<head>
  <title>Vijesti</title>
  <link rel="stylesheet" href="/css/news.css">
</head>

<%- include ('partials/header') %>

<div class="container" id="news-container">

<form action="/news" method="POST" id="my-form">

  <input
    type="text"
    id="search"
    name="search"
    class="form-control"
    placeholder="Unesi ime članka"
  />

<button type="submit"   class="btn btn-dark">Traži</button>
</form>

<% let i = 0; %>
<% if( news.length == 0) { %>
  <div id="error-div">
    <h2>NIJE PRONAĐEN NIJEDAN REZULTAT</h2>
    <div id="errorImg">
      <img src="images/warning.png" alt="error">
    </div>
  </div>
    
<% } %>  

<% if(news.length === 1 || news.length === 2 || news.length === 3 ) { %>
<% for(i=0; i < news.length; i++){ %>
  
  <div class="my-newsDiv">
  
  
  <div class="text-img-container">
    <img src=  "<%= news[i].imgUrl %>" alt="Snow">
    <div class="top-left"><h3>
      <form action="/news" method="POST">
  
      <input 
        type="text"
        id="newsUrl"
        name="newsUrl"
        class="my-form-control"
        value="<%= news[i].url%>"
        placeholder="Enter Name"
      />
  
    <button type="submit" class="read-more"><%= news[i].name %></button>
  </form></h3></div>
  
  </div>
  
  
  
  </div>
  
  
  
  <% }} %>

<% if(news.length > 3) { %>
<% for(i=0; i < 3; i++){ %>

<div class="my-newsDiv">


<div class="text-img-container">
  <img src=  "<%= news[i].imgUrl %>" alt="Snow">
  <div class="top-left"><h3>
    <form action="/news" method="POST">

    <input 
      type="text"
      id="newsUrl"
      name="newsUrl"
      class="my-form-control"
      value="<%= news[i].url%>"
      placeholder="Enter Name"
    />

  <button type="submit" class="read-more"><%= news[i].name %></button>
</form></h3></div>

</div>



</div>



<% }} %>
<% if( news.length > 3) { %>
  <% for(j=3; j<news.length; j++){ %>

    <div class="my-newsDiv inactive">
    
    
    <div class="text-img-container">
      <img src=  "<%= news[j].imgUrl %>" alt="Snow">
      <div class="top-left"><h3>
        <form action="/news" method="POST">
    
          <input 
            type="text"
            id="newsUrl"
            name="newsUrl"
            class="my-form-control"
            value="<%= news[j].url%>"
            placeholder="Enter Name"
          />
      
        <button type="submit" class="read-more"><%= news[j].name %></button>
      </form>
      </h3></div>
    
    </div>
    

    
    </div>
    <div id="load-more" class="btn-primary">Učitaj jos</div>

<% } %>
<% } %>

</div>
<br><br>

<script>
  let btn  = document.getElementById("load-more");
  let div = document.getElementsByClassName("inactive");

  btn.addEventListener('click', load);

  function load() {
    for(let k = 0; k < div.length; k++){
      div[k].style.display = "block";
    }
    btn.style.display = "none";
  }
</script>
<%- include ('partials/footer') %>